<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mainpage</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@200;300&family=Oswald&display=swap" rel="stylesheet">

</head>
<body>
    <div class="navbar">
        <div class="logo"></div>

        <div class="classroom_status">
            <h2 class="text"> CLASSROOM STATUS </h2>
        </div>
        <div class="logout">
            <h2 class="logout_text"><a href="#"> Logout </a></h2>
        </div>
    </div>

    <div class="second-container">
        <form action="" class="search-bar">
            <input type="text" placeholder="search classroom" name="q">
            <button type="submit">
                <img src="../static/images/search.png" id="search_logo"> 
         </button>
        </form>
    </div>

    <div class="third_container">
        <div class="classroom_number_1">
            <h3 id="text_3">LP-110</h3>
            <button type="" id="tick"> 
                <img src="../static/images/tick.png" alt="" id="tick_img">
            </button>
            <button type="" id="camera"> 
                <img src="../static/images/camera.png" alt="" id="camera_img">
            </button>
        </div>

        <div class="classroom_number_2">
            <h3 id="text_3">LP-109</h3>
            <button type="" id="tick"> 
                <img src="../static/images/tick.png" alt="" id="tick_img">
            </button>
            <button type="" id="camera"> 
                <img src="../static/images/camera.png" alt="" id="camera_img">
            </button>
        </div>
            
        <div class="classroom_number_3">
            <h3 id="text_3">LP-108</h3>
            <button type="" id="tick"> 
                <img src="../static/images/tick.png" alt="" id="tick_img">
            </button>
            <button type="" id="camera"> 
                <img src="../static/images/camera.png" alt="" id="camera_img">
            </button>
        </div>

        <div class="classroom_number_4">
            <h3 id="text_3">LP-107</h3>
            <button type="" id="tick"> 
                <img src="../static/images/tick.png" alt="" id="tick_img">
            </button>
            <button type="" id="camera"> 
                <img src="../static/images/camera.png" alt="" id="camera_img">
            </button>
        </div>

        <div class="classroom_number_5">
            <h3 id="text_3">LP-106</h3>
            <button type="" id="tick"> 
                <img src="../static/images/tick.png" alt="" id="tick_img">
            </button>
            <button type="" id="camera"> 
                <img src="../static/images/camera.png" alt="" id="camera_img">
            </button>
        </div>

        <div class="classroom_number_6">
            <h3 id="text_3">LP-105</h3>
            <button type="" id="tick"> 
                <img src="../static/images/tick.png" alt="" id="tick_img">
            </button>
            <button type="" id="camera"> 
                <img src="../static/images/camera.png" alt="" id="camera_img">
            </button>
        </div>

        <div class="classroom_number_7">
            <h3 id="text_3">LP-104</h3>
            <button type="" id="tick"> 
                <img src="../static/images/tick.png" alt="" id="tick_img">
            </button>
            <button type="" id="camera"> 
                <img src="../static/images/camera.png" alt="" id="camera_img">
            </button>
        </div>
        
    </div>
    
</body>
</html>